@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "assets/scss/Styles";

html,
body {
  font-family: 'inter';
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #F1F1F1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

#layoutSidenav {
  display: flex;
}

#layoutSidenav #layoutSidenav_nav {
  margin-top: 55px;
  flex-basis: 260px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
}

#layoutSidenav #layoutSidenav_content {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 0px);
}

.sidebar-text-title{
  color: #F1F1F1 !important;
  opacity: 60%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #layoutSidenav #layoutSidenav_nav {
    margin-top: 55px;
    flex-basis: 20px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
  }
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-250px);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -250px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}

.sb-topnav {
  padding-left: 10px;
  height: 55px;
  z-index: 1039;
}


/**
* Material Icon Custom
*/

.tbl-material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 18px !important;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

//Button
.btn-primary {
  background: linear-gradient(180deg, #4790d9 0%, #074887 100%) !important;
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(180deg, #4790d9 100%, #074887 0%) !important;
  border: none;
}